body {
    font-family: Arial, sans-serif;
}

.container {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.column {
    margin: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    /* Center the child elements horizontally */
}

.corner {
    padding: 10px;
    width: 15vw;
    /* 25% of the viewport width */
    height: min(80vh, 80vw);
}

.center {
    background-image: url(Img/Background.png);

    width: min(80vh, 80vw);
    /* 50% of the viewport height */
    height: min(80vh, 80vw);
    /* 50% of the viewport height */
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);

}

.color-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.center div {
    width: 100%;
    height: 100%;
    background-color: rgba(red, green, blue, 1);
    border: 1px solid #ff626266;
}

.color-show {
    /* margin to space the buttons vertically and horizontally */
    flex-grow: 1;
    /* allow the button to grow and fill the available space */
    margin: 1%;
    width: 100%;
    /* adjust to ensure two buttons fit within the row */
    height: 15%;
    background-color: blanchedalmond;
}

.palette-wrapper {
    flex-grow: 1;
    /* allow the button to grow and fill the available space */
    margin-left: 2%;
    width: 48%;
    /* adjust to ensure two buttons fit within the row */
    height: 100%;
    border: solid;
    background-color: rgb(183, 26, 26);
}

.color-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
    /* allow the row to grow and fill the available space */
    margin-bottom: 2%;
    /* space between rows, adjust as needed */
}

.menu-wrapper {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-button {
    margin-bottom: 15%;
    /* margin to space the buttons vertically and horizontally */
    flex-grow: 1;
    /* allow the button to grow and fill the available space */
    width: 100%;
    /* adjust to ensure two buttons fit within the row */
    height: 100%;

    /* adjust to ensure the buttons scale vertically */
}

.logo {
    width: 10%;
    height: 10%;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {

    .center {
        width: calc(100vh-20px);
        /* Set width to 100% for full width */
        height: calc(100vh-20px);
        /* Reset height to auto */
        margin-bottom: 10px;
    }

    .column {
        width: calc(100vh-20px);
        /* Set width to 100% for full width */
        height: calc(100vh-20px);
        /* Reset height to auto */
        margin-bottom: 10px;
    }
}