body {
    font-family: Arial, sans-serif;
    background-color: #D4F1F4;
}

/*********************************************************/
/* Layout General*/
/*********************************************************/
/*Container for main content*/
.container {
    padding: 10px;
    margin: 10px;
    max-height: 100vh;
    display: flex;
    justify-content: center;
}

.column {
    margin: 5px;
    box-sizing: border-box;
}

/*Container for the content left and right from the canvas*/
.corner {
    padding: 0px;
    width: 15%;
    /* 25% of the viewport width */
    height: min(80vh, 80vw);
    display: flex;
    flex-direction: column;
}

/*Container for main canvas*/
.center {
    background-image: url(../Img/Background.png);
    /*display: flex;*/
    --canvasSize: 50%;

    width: var(--canvasSize);
    height: var(--canvasSize);

    aspect-ratio: 1/1;
}

/*********************************************************/
/* Color Layout*/
/*********************************************************/
.color-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
}

/*color Column is a wrapper for half the colors*/
.color-column {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

/*Layout for colors on the left side*/
.left {
    display: block;
    margin-left: auto;
    margin-right: 0%;
}

/*Layout for colors on the right side*/
.right {
    display: block;
    margin-left: 4%;
    margin-right: auto;
}

/*********************************************************/
/* Color Buttons*/
/*********************************************************/
.color-unselcted {
    /*Size and postion*/
    width: 48%;
    height: 20%;
    box-sizing: border-box;
    margin-bottom: 30%;

    /*Border and shape*/
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 1px solid black;
}

.color-selected {
    /*Size and postion*/
    width: 96%;
    height: 20%;
    box-sizing: border-box;
    margin-bottom: 30%;

    /*Border and shape*/
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 1px solid black;

    /*Shadow for selected color*/
    --shadow-color: rgba(24, 154, 180, 1);
    box-shadow: inset 0 0 0px rgb(0, 0, 0), 0 0 9px 3px var(--shadow-color);
}

.color-unselcted:hover {
    /*Size and positon*/
    width: 96%;
    height: 20%;
    box-sizing: border-box;
    margin-bottom: 30%;

    /*Border and shape*/
    border: 1px solid black;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
}

/*********************************************************/
/* Menu on the right site*/
/*********************************************************/
.menu-wrapper {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.menu-button {
    /* Size and postion*/
    height: 100%;
    width: 100%;
    margin-bottom: 15%;

    /* Text*/
    font-size: 15px;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;

    /* Border and shape*/
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid rgb(24, 154, 180);
    background: rgba(117, 230, 218, 0.1);
    color: rgb(5, 68, 94);
}

.menu-button:hover {
    /* Shadow to highlight button*/
    color: #189AB4;
    border: 2px solid rgb(117, 230, 218);
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0), 0 0 9px 3px rgba(24, 154, 180, 1);
}


/*********************************************************/
/* Eraser*/
/*********************************************************/

/*Wrapper for the eraser */
.eraser-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
}

.eraser {
    /*size and positon */
    display: block;
    margin-left: auto;
    margin-right: 0%;
    width: 48%;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 30%;

    /*border and shape */
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 1px solid black;

    /*Icon*/
    background-image: url(../Img/Eraser.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

}

.eraser:hover {
    /*size and positon */
    display: block;
    margin-left: auto;
    margin-right: 0%;
    width: 96%;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 30%;

    /*border and shape */
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 1px solid black;

    /*Icon*/
    background-image: url(../Img/Eraser.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.eraser-selected {
    /*size and positon */
    display: block;
    margin-left: auto;
    margin-right: 0%;
    width: 96%;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 30%;

    /*border and shape */
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;

    /*Shadow to show it's selected */
    border: 1px solid black;
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0), 0 0 9px 3px rgb(124, 124, 124);

    /*Icon*/
    background-image: url(../Img/Eraser.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;

}

/*********************************************************/
/* Control (Forward/Backward*/
/*********************************************************/
/*Containter for Eraser and control buttons*/
.control-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7%;
    /* space between controls and colors*/
    margin-bottom: 30%;
}

/*Containter for the forward and backwards buttons*/
.control-container {
    margin-left: 0%;
    margin-right: auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Style of the control buttons*/
.control-button {
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border-radius: 0.6em;
    border: 1px solid black;
}

/*Hover effect vor the control button*/
.control-button:hover {
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0), 0 0 9px 3px rgb(63, 63, 63);
}

/*Positon for the backward button*/
.backward {
    display: block;
    margin-left: 4%;
    margin-right: auto;

    /*Icon*/
    background-image: url(../Img/Backbutton.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

/*Positon for the forward button*/
.forward {
    display: block;
    margin-left: auto;
    margin-right: 4%;

    /*Icon*/
    background-image: url(../Img/Forwardbutton.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}


/*********************************************************/
/* Projekt name
/*********************************************************/
.name-container {
    /*Size and position*/
    width: 100vw;
    height: 5vh;
    /*position for the name*/
    display: flex;
    justify-content: center;
    /*Space between top and name */
    margin-top: 3vh;
    /*Space between name and canvas */
    margin-bottom: 3vh;
}

.project-name {
    width: 70%;
    height: 100%;

    /*border and shape*/
    border: 2px solid rgb(24, 154, 180);
    border-radius: 0.6em;

    /*background color */
    background: linear-gradient(to right, rgba(5, 68, 94, 0.1) 1%, transparent 40%, transparent 60%, rgba(5, 68, 94, 0.1) 100%);

    /*Text*/
    color: rgb(5, 68, 94);
    font-family: inherit;
    align-content: center;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.06em;
}

/*********************************************************/
/* File List for Projects
/*********************************************************/
.fileListWrapper {
    /*background color */
    background: linear-gradient(to right, rgba(5, 68, 94, 0.1) 1%, transparent 40%, transparent 60%, rgba(5, 68, 94, 0.1) 100%);

    /*border and shape*/
    border: 2px solid rgb(24, 154, 180);

    border-radius: 0.6em;
    width: 150%;
    height: 50%;
    overflow-y: auto;
    position: relative;
    /* Add scrollbar if content overflows */
}

/* Changes the file list to be visisble or not*/
.inVisible {
    display: none;
}

.file {
    background-color: grey;
    width: 90%;
    max-width: 98%;
    height: 15%;
    margin: 5%;


    overflow-x: auto;
    /* Add horizontal scrollbar if content overflows */
    overflow-y: hidden;
    /* Prevent vertical scrollbar */

    /*Text*/
    color: rgb(5, 68, 94);
    font-family: inherit;
    align-content: center;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.06em;
    white-space: nowrap;

    /*background color */
    background: linear-gradient(to right, rgba(5, 68, 94, 0.1) 1%, transparent 40%, transparent 60%, rgba(5, 68, 94, 0.1) 100%);

    /*border and shape*/
    border: 2px solid rgb(24, 154, 180);
    border-radius: 0.6em;
}

/*Hover effect vor the control button*/
.file:hover {
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0), 0 0 9px 3px rgb(63, 63, 63);
}


/*The main canvas*/
.canvas {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}