body {
    font-family: Arial, sans-serif;
    background-color: #D4F1F4;
}

/*Main container for the color inputs and buttons*/
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: content-box;
}

/*********************************************************/
/* Projekt name
/*********************************************************/
/*Wrapper to align the name Input*/
.name-wrapper {
    /*Size and position*/
    width: 100vw;
    height: 5vh;
    /*position for the name*/
    display: flex;
    justify-content: center;

    /*Space between top of the site and name */
    margin-top: 3vh;
}

/*Textinput for the projektname*/
input[type="text"] {
    /*Size and position*/
    width: 70%;
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
    outline: none;
    margin: none;
    box-sizing: border-box;

    /*border and shape*/
    border: 2px solid rgb(24, 154, 180);
    border-radius: 0.6em;

    /*background color */
    background: linear-gradient(to right, rgba(5, 68, 94, 0.1) 1%, transparent 40%, transparent 60%, rgba(5, 68, 94, 0.1) 100%);

    /*Text*/
    color: rgb(5, 68, 94);
    font-family: inherit;
    align-content: center;
    font-size: 15px;
    letter-spacing: 0.06em;
}

/*Hover effect for the Text input*/
input[type="text"]:hover {
    border: 2px solid rgb(117, 230, 218);
    box-shadow: inset 0 0 10px rgba(117, 230, 218, 0.6), 0 0 9px 3px rgba(24, 154, 180, 1);
}

/*Color of the placeholder */
::placeholder {
    color: rgb(5, 68, 94);
    /* Light grey color */
}


/*********************************************************/
/* Color Input Layout
/*********************************************************/
/*Wrapper for all the color inputs*/
.color-wrapper {
    /*Size and position*/
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    height: 60vh;

    /*Layout for color inputs*/
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Layout for one row of colorinputs*/
.color-row {
    display: flex;
    flex: content;
    box-sizing: border-box;
    justify-content: space-between;
}

/*********************************************************/
/* Color Inputs
/*********************************************************/
input[type="color"] {
    /*Size and position*/
    height: 100%;
    width: 100%;
    padding: none;
    box-sizing: content-box;
    margin: none;

    /*Border and shape*/
    appearance: none;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

/*********************************************************/
/* Buttons
/*********************************************************/
/*Wrapper to align buttons*/
.button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
}

button {
    /*Size and position*/
    height: 100%;
    width: 25%;
    padding: 0.7em 2.7em;

    /*Text*/
    font-size: 15px;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    color: rgb(5, 68, 94);

    /*Border and shape*/
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid rgb(24, 154, 180);
    background: linear-gradient(to right, rgba(5, 68, 94, 0.1) 1%, transparent 40%, transparent 60%, rgba(5, 68, 94, 0.1) 100%);
    box-shadow: inset 0 0 10px rgba(24, 154, 180, 0.4), 0 0 9px 3px rgba(24, 154, 180, 0.1);
}

/*Hover effect*/
button:hover {
    color: #189AB4;
    border: 2px solid rgb(117, 230, 218);
    box-shadow: inset 0 0 10px rgba(117, 230, 218, 0.6), 0 0 9px 3px rgba(24, 154, 180, 1);
}